# المستندات والمكتبات التقيلة
node_modules/
dist/
build/

# الفيديوهات اللي كانت عاملة مشكلة (هيتم تجاهلها)
*.mp4
*.mov
*.wmv
*.flv

# ملفات الويندوز والنظام
Thumbs.db
.DS_Store

# ملفات البيئة السرية
.env
.env.local